@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #101010;
}

.container {
  position: relative;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: enter 1s forwards;
          animation: enter 1s forwards;
  position: relative;
  width: 250px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1b1b1b), color-stop(#222), to(#1b1b1b));
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.container .card:before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
  z-index: 1;
}

@-webkit-keyframes enter {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes enter {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 50px #000;
          box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .number {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 40px;
}

.percent .number h2 span {
  color: #777;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 24px;
}

.text {
  color: #777;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
}

.card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}

.card:hover .percent .number h2 span {
  color: #fff;
}

.card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  -webkit-animation: animate1 1.5s forwards 1s;
          animation: animate1 1.5s forwards 1s;
  stroke: #00ff43;
}

@-webkit-keyframes animate1 {
  from {
    stroke-dashoffset: 440;
  }
  to {
    stroke-dashoffset: 44;
  }
}

@keyframes animate1 {
  from {
    stroke-dashoffset: 440;
  }
  to {
    stroke-dashoffset: 44;
  }
}

.card:nth-child(2) svg circle:nth-child(2) {
  -webkit-animation: animate2 1.5s forwards 1s;
          animation: animate2 1.5s forwards 1s;
  stroke: #00a1ff;
}

@-webkit-keyframes animate2 {
  from {
    stroke-dashoffset: 440;
  }
  to {
    stroke-dashoffset: 66;
  }
}

@keyframes animate2 {
  from {
    stroke-dashoffset: 440;
  }
  to {
    stroke-dashoffset: 66;
  }
}

.card:nth-child(3) svg circle:nth-child(2) {
  -webkit-animation: animate3 1.5s forwards 1s;
          animation: animate3 1.5s forwards 1s;
  stroke: #ff04f7;
}

@-webkit-keyframes animate3 {
  from {
    stroke-dashoffset: 440;
  }
  to {
    stroke-dashoffset: 154;
  }
}

@keyframes animate3 {
  from {
    stroke-dashoffset: 440;
  }
  to {
    stroke-dashoffset: 154;
  }
}
/*# sourceMappingURL=style.css.map */