<div id="<%= dom_id follow %>">
  <p>
    <strong>Status:</strong>
    <%= follow.status %>
  </p>
  <p>
    <strong>Follower:</strong>
    <%= follow.follower_id %>
  </p>
  <p>
    <strong>Followee:</strong>
    <%= follow.followee_id %>
  </p>

</div>
