<div id="<%= dom_id log %>">
  <p>
    <strong>Time:</strong>
    <%= log.time %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= log.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= log.user_id %>
  </p>

</div>
