<div id="<%= dom_id log %>">
  <p>
    <strong>Time:</strong>
    <%= log.time %>
    <strong>Amount:</strong>
    <%= log.amount %>
    <%= link_to "Show this log", user_log_path({
                  :id => log.id,
                  :user_id => log.user_id,
                }) %>
  </p>
</div>
