<p style="color: green"><%= notice %></p>

<h1>Logs</h1>

<div id="logs">
  <% @logs.each do |log| %>
    <%= render log %>
  <% end %>
</div>

<%= link_to "New user log", new_user_log_path %> |
<%= link_to "Back to user", user_path(@user[:id]) %>
